[Desktop Entry]
Type=Application
Name=E-Z Cut
GenericName=Video Cutter
Comment=Lightweight video cutter powered by ffmpeg
Exec=ezcut %F
Icon=ezcut
Terminal=false
StartupWMClass=ezcut
Categories=AudioVideo;Video;AudioVideoEditing;
MimeType=video/mp4;video/x-matroska;video/avi;video/quicktime;video/webm;
